.filterBar {
  margin-bottom: 2rem;
}

.filterContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem; 
  justify-content: center;
}

.filterButton {
  border-radius: 20px !important; /* !important para ganar a Bootstrap */
  text-transform: capitalize;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
  box-shadow: none !important; 
}


.filterButton.active{
  background-color: var(--color-acento-cafe);
  border-color: var(--color-acento-rosa);
  color: white;
  font: bold;
}



/* 3. (Opcional) Un efecto sutil al pasar el mouse sobre un botón
       que NO está activo
*/
.filterButton:hover:not(.active) {
  transform: translateY(-2px);
  background-color: var(--color-acento-rosa);
  border-color: var(--color-acento-cafe);

}